@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400&display=swap');


/* Add your colours and variables here */


.preload * {
	-webkit-transition: none !important;
	-moz-transition: none !important;
	-ms-transition: none !important;
	-o-transition: none !important;
  }

:root {
	--brand-color:#f00;
	--link-color:#ffb06a;
	--heading-color:rgb(41, 41, 41);
	--text-color:#333;
	--brand-font:'Montserrat', sans-serif;
	--body-font:'Montserrat', sans-serif;
}

/* Sensible Defaults */

* {
	box-sizing:border-box;
}

img {
	max-width:100%;
}
a {
	color:var(--link-color);
	text-decoration: none;
	cursor: pointer;
}

/* Text Styles */



body {
	color:var(--text-color);
	font-family:var(--body-font);
	background: #fcfcfc;
	/*background-image: url("https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fi.ytimg.com%2Fvi%2FJlMNZntaoTY%2Fmaxresdefault.jpg&f=1&nofb=1");*/
	background-size: cover;
	opacity: 1;
	background-repeat: repeat;
	background-position: center;
	background-size: 250%;
	background-blend-mode: normal;
	margin:0;
	cursor: crosshair !important;
	/* add global font family, size and color */
}
h1, h2, h3, h4, h5, h6 {
	color:var(--heading-color);
	font-family:var(--brand-font);
	/* add global heading styles */
}

/* Components */

.button {
cursor: pointer !important;
}
.hero {

}

/* Page Styles */

.main-content {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 100VH;
	overflow: hidden;
}

.content-main {
	display: flex;
	flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100vw;
	height: 100vh;
	position: fixed;
	overflow:scroll;
}

@media only screen and (max-width:600px) {
	.content-main.about {
		justify-content: start;
	}

}

.content-main-news {
	display: flex;
	flex-direction: column;
	justify-content: start;
    height: 85%;
    width: 75%;
    margin: 4% 12.5% 0 12.5%;
	position: fixed;
	overflow: auto;
}

@media only screen and (max-width:700px) {
	.content-main-news {
		margin: 12% 12.5% 0 12.5%;
	}
}

.content-main.news::-webkit-scrollbar {
	display: none;
  }

.content-main img {
	height: auto;
	width: auto;
	max-height: 50VH;
	object-fit: contain;
}


.marquee3k h1 {
	font-size: 2rem;
}

.marquee-top span {
	margin: 0 20px;
	text-transform: uppercase;
	cursor: pointer;
}

.marquee-bottom span {
	margin: 0 20px;
	text-transform: uppercase;
	cursor: pointer;
}

.marqueem8-bottom {
	display: flex;
	align-self: flex-end;
	bottom: 0;
}

.marquee-back, .marquee-back-social {
	background: #fcfcfc;
}


.marquee-back span {
	font-size: 2.5rem;
}


.marquee-back:hover {
	cursor: pointer;
}

.marquee-top:hover, .marquee-bottom:hover, .marquee-back-social:hover, .marquee-projects-footer:hover {
	color: #ffb06a;
}


.backimg {
    cursor: crosshair !important;
	filter: invert(.75) sepia(0.7) saturate(5) hue-rotate(-37deg);
}


.logo-links {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 85vw;
}

.logoimg .buttons {
	cursor: pointer;
}

.logoimg .buttons button, button {
	background: white;
	color: #111;
	border: 2px solid black;
	border-radius: 50%;
	font-weight: bold;
	font-size: 1.2rem;
	text-transform: uppercase;
	cursor: pointer !important;
	margin: 10px;
	padding: 15px 0px;
	width: 160px;
	opacity: 0.8;
	cursor: pointer;
	transition: 0.3s ease;
}

.logoimg .buttons button:hover, button:hover {
	background: black !important;
	color: #ffb06a;
	border: 2px solid black;
	cursor: pointer;
	opacity: 1;
}

span:hover {
	color: #ffb06a;
}

.site-header {
	position: fixed;
    top: 0;
	margin-top: -10px;
	padding-bottom: 1rem;
	z-index: 100000;
	background: #fcfcfc;
}

.site-footer {
	position: relative;
	z-index: 100000;
	background: #fcfcfc;
	padding-bottom:18px;
	overflow: hidden;
}

.menu-items button {
	margin-left: 20px;
}


.row {
	display: flex;
	flex-wrap: wrap;
	padding: 0 4px;
  }
  
  /* Create four equal columns that sits next to each other */
  .column {
	flex: 25%;
	max-width: 25%;
	padding: 0 4px;
  }
  
  .column img {
	margin-top: 0px;
	vertical-align: middle;
	width: 100%;
	opacity: 0.9;
  }

  .column img:hover {
	opacity: 1;
  }
  
  /* Responsive layout - makes a two column-layout instead of four columns */
  @media screen and (max-width: 800px) {
	.column {
	  flex: 50%;
	  max-width: 50%;
	}
  }
  
  /* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
  @media screen and (max-width: 600px) {
	.column {
	  flex: 100%;
	  max-width: 100%;
	}
  }

.img-grid {
	  margin: auto;
	  margin-top:45px;
	  width: 100vw;
  }


  .contact-container {
	display: flex;
	flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100vw;
    height: 100vh;
	position: fixed;
}

.contact-info {
	font-size: 1.2rem;
	margin: 40px;
	max-width: 900px;
}

footer {
	position: fixed;
	bottom: 0;
}

@media only screen and (min-width:2000px) {
	.marquee3k h1 {
		font-size: 4rem;
	}
    .marquee-back {
		padding-bottom: 22px;
	}
	.marquee-back span {
		font-size: 6.5rem;
		padding-bottom: 20px;
	}
	.logoimg .buttons button, button {
		background: white;
		color: 111;
		border: 3px solid black;
		border-radius: 50%;
		font-weight: bold;
		font-size: 1.5rem;
		text-transform: uppercase;
		cursor: pointer !important;
		margin: 10px;
		padding: 20px 0px;
		width: 180px;
		opacity: 0.8;
		cursor: pointer;
		transition: 0.2s ease;
	}
    
	.marquee-back .social span {
		background: #fcfcfc;
        padding-bottom: 0;
	}
	.img-grid {
		margin: auto;
		margin-top:90px;
		width: 100vw;
	}
	.contact-info {
		font-size: 1.5rem;
		margin: 40px;
		max-width: 900px;
	}

}

/*grid v2*/

.row>*, .column {
	padding: 0;
	margin: 0;
	--bs-gutter-x: 0;
}

.thumb-item {
	width: 100%;
	position: relative;
	overflow: hidden;
	opacity: 1;
	filter: saturate(100%);
  }

.thumb-item:hover {
	opacity: 1;
	cursor: crosshair;
}

  .thumb-item__image {
	width: 100%;
	height: 100%;
  }
  .thumb-item__info, .thumb-item__info__txt {
	position: absolute;
	margin: auto;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	text-align: center;
	width: 100%;
	height: 100%;
	opacity: 0;
	box-sizing: border-box;
	color: #000;
	background: rgba(0,0,0,1);
	transition: ease 0.3s;
  }
  .thumb-item__info h5, .thumb-item__info__txt h5 {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 100%;
	font-size: 2.7rem;
	margin: 0;
	padding: 0;
	font-weight: bold;
	color: #ffb06a;
	text-transform: uppercase;
	mix-blend-mode:screen;
	opacity: 1;
  }
  .thumb-item__info p {
	font-size: 12px;
	margin: 4px 0 14px;
  }
 .thumb-item:hover .thumb-item__info,  .thumb-item:hover .thumb-item__info__txt {
	opacity: 1;
	bottom: 0px;
  }


  @media screen and (max-width: 600px) {
	.column {
	  flex: 100%;
	  max-width: 100%;
	}

	.thumb-item__info, .thumb-item__info__txt {
		position: absolute;
		margin: auto;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		text-align: center;
		width: 100%;
		height: 100%;
		opacity: 1;
		box-sizing: border-box;
		color: #000;	
		background: rgb(0,0,0,0);	
		transition: ease 0.3s;
	  }

	  .thumb-item__info h5, .thumb-item__info__txt h5 {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 100%;
		font-size: 3rem;
		margin: 0;
		padding-bottom: 10px !important;
		padding: 0;
		font-weight: bold;
		color: #ffb06a;
		mix-blend-mode: normal;
		background: radial-gradient(circle, rgba(0,0,0,0.33237044817927175) 0%, rgba(0,0,0,0.15029761904761907) 38%, rgba(0,0,0,0) 100%);		
		opacity: 1;
	  }

	  .thumb-item__info__txt h5 {
		  display: none;
	  }

	  .logoimg .buttons button, button {
		background: white;
		color: 111;
		border: 3px solid black;
		border-radius: 50%;
		font-weight: bold;
		font-size: 1rem;
		text-transform: uppercase;
		cursor: pointer !important;
		margin: 10px;
		padding: 15px 0px;
		width: 120px;
		opacity: 0.8;
		cursor: pointer;
	}
  }

  .noselect {
	-webkit-touch-callout: none; /* iOS Safari */
	  -webkit-user-select: none; /* Safari */
	   -khtml-user-select: none; /* Konqueror HTML */
		 -moz-user-select: none; /* Old versions of Firefox */
		  -ms-user-select: none; /* Internet Explorer/Edge */
			  user-select: none; /* Non-prefixed version, currently
									supported by Chrome, Edge, Opera and Firefox */
  }

  .card {
	background-color: dodgerblue;
	height: 300px; 
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	color: white;
	padding: 1rem;
	width: 25%;
	width: auto;
	display: flex;
	align-items: center;
	justify-content: center;
  }

  .cards {
	max-width: 2800px;
	margin: 0 auto;
	padding: 1rem;
	margin-top: 30px;
	display: grid;
	grid-gap: 1rem;
	overflow: scroll;
  }

.clientname {
	background: rgba(0,0,0,0.9);
	width: 100%;
	height: 100%;
	text-align: center;
	align-items: center;
	justify-content: center;
	position: absolute;
	display: flex;
	opacity: 0;
	transition: ease 0.5s;
  }

.card:hover span {
	z-index: 1;
	opacity: 1;
	mix-blend-mode: normal;
  }

  .clientname h1 {
	color: #ffb06a;
  }

  @media only screen and (max-width: 900px) {
	.clientname {
		background: rgba(0,0,0,0.3);
		width: 100%;
		height: 100%;
		text-align: center;
		align-items: center;
		justify-content: center;
		position: absolute;
		display: flex;
		opacity: 1;
	  }
	  .card.rvng span {
        display: none;
	  }
  }
  
  /* Screen larger than 900px? 2 column */
  @media (min-width: 900px) {
	.cards { grid-template-columns: repeat(2, 1fr); }
  }
  
  /* Screen larger than 1200px? 3 columns */
  @media (min-width: 1200px) {
	.cards { grid-template-columns: repeat(3, 1fr); }
  }

    /* Screen larger than 1800px? increase height */
	@media (min-width: 1400px) {
		.card { height: 400px; }
	  }

	      /* Screen larger than 1800px? increase height */
	@media (min-width: 1800px) {
		.card { height: 600px; }
	  }
  
  /* CLIENT BACKGROUND IMAGES */
  
  .card.ssh {
	background-image: url("/images/somersethousestudios.jpg");
  }
  
  .card.objekt {
	background-image: url("/images/objekt.jpg");
  }
  
  .card.cobysey {
	background-image: url("/images/cobysey.jpg");
  }
  
  .card.hatisnoit {
	background-image: url("/images/hatisnoit.jpg");
  }
  
  .card.nakedcity {
	background-image: url("/images/nakedcity.jpg");
  }
  
  .card.peggygou {
	background-image: url("/images/peggygou.jpg");
  }

  .card.fourtet {
	background-image: url("/images/fourtetalldayer.jpg");
  }
  
  .card.lrain {
	background-image: url("/images/l-rain.jpg");
  }

  .card.klein {
	background-image: url("/images/klein-2.jpg");
  }

  .card.callsuper {
	background-image: url("/images/call-super.jpg");
  }

  .card.parris {
	background-image: url("/images/parris.jpg");
  }

  .card.mira {
	background-image: url("/images/mira-calix.jpg");
  }

  .card.moin {
	background-image: url("/images/moin.jpg");
  }

  .card.nyx {
	background-image: url("/images/NYX_1.jpg");
  }

  .card.rvng {
	background-image: url("/images/rvng.jpg");
  }

  .card.skyh1 {
	background-image: url("/images/skyh1.jpg");
  }

  .card.xo {
	background-image: url("/images/xo.jpg");
  }

  .card.fears {
	background-image: url("/images/fears.jpg");
  }

  .card.tone {
	background-image: url("/images/tone.jpg");
  }

  .card.ica {
	background-image: url("/images/ica.jpg");
  }